---
name: xpertek/fundinghub
project_root: <%= Dir.pwd %>

windows:
  - frontend:
      layout: aa18,272x58,0,0{135x58,0,0,0,136x58,136,0[136x29,136,0,1,136x28,136,30,3]}
      panes:
        -
        - npm start
        - npm run test:watch
