.area-content {
  @include island--large--bottom;

  @include breakpoint(medium down) { @include soft--sides;}
}

.area-content--inner {
  @include soft--largest--sides;
  @include soft--large--ends;

  @include breakpoint(medium only) {
    @include soft--large--sides;
  }

  @include breakpoint(small only) {
    @include soft--sides;
  }
}
