.footer-container {
  position: relative;
}

%area-footer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);

  &, & a {
    color: $medium-gray;
  }
}

.area-footer { @extend %area-footer; }

.area-footer--alt {
  @extend %area-footer;
  &, & a {
    color: $white;
  }
}
