@import 'header/menu';
@import 'header/gradients';

@mixin area-header {
  position: relative;
  z-index: 10;
  @include soft--top;
}

.area-header {
  @include area-header;
  @extend %bgg--default;
}

.area-header__aboutBusiness {
  @include area-header;
  @extend %bgg--default;
}

.area-header__fundingRequirements {
  @include area-header;
  @extend %bgg--fundingRequirements;
}

.area-header__trade {
  @include area-header;
  @extend %bgg--trade;
}

.area-header__funder {
  @extend %bgg--funder;
  @include area-header;
}

.area-header__success {
  @include area-header;
  @extend %bgg--default;
  min-height: 100vh;
}
