/*------------------------------------*\
    $WRAPS
\*------------------------------------*/
$wrap-widths: (
  large: 1300px,
  base: 1100px,
  small: 840px,
);

%wrap-base {
  @include wrap-margin;
  @include wrap-padding;
}

/**
 * Generates classes and placeholders for wraps and their widths
 * e.g.

  %wrap-width--large { max-width: 1280px;}
  .wrap--large { ... }
  %wrap-width        { max-width: 960px;}
  .wrap { ... }
  %wrap-width--small { max-width: 640px;}
  .wrap--small { ... }
 */
@each $wrap-name, $wrap-width in $wrap-widths {
  @if $wrap-name == 'base' {
    %wrap-width { max-width: $wrap-width;}
    %wrap {
      @extend %wrap-width;
      @extend %wrap-base;
    }
    .wrap { @extend %wrap;}
  } @else {
    %wrap-width--#{$wrap-name} { max-width: $wrap-width;}
    %wrap--#{$wrap-name} {
      @extend %wrap-width--#{$wrap-name};
      @extend %wrap-base;
    }
    .wrap--#{$wrap-name} { @extend %wrap--#{$wrap-name};}
  }
}

.wrap--large--hard-sides {
  padding-left: 0;
  padding-right: 0;
}
