$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;

// Fixate variables for margins and padding
$fs-base:  16px!default;
$base-line-height:  24px!default;

$base-spacing-unit: $base-line-height / $fs-base!default;

$foundation-palette: (
  primary: #00AEEF,
  secondary: #767676,
  tertiary: #799bce,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #e6e6e6;
$medium-gray: #939393;
$dark-gray: #999;
$black: #0a0a0a;
$white: #fefefe;
$body-background: #ececec;
$body-font-color: $black;
$body-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

$gradients: (
  default: linear 0deg #FEFEFE #FEFEFE,
  fundingRequirements: linear 0deg #FEFEFE #FEFEFE,
  trade: linear 0deg #FEFEFE #FEFEFE,
  funder: linear 0deg #FEFEFE #FEFEFE,
);

@include add-foundation-colors;


