@function get-gradient($key) {
  @if map-has-key($gradients, $key) {
    $gradient: map-get($gradients, $key);
    @return #{nth($gradient,1)}-gradient(
      nth($gradient, 2),
      nth($gradient, 3),
      nth($gradient, 4)
    );
  }
  @else {
    @error 'given $key is not available in $gradients';
  }
}
