/*------------------------------------*\
    $ISLANDS
\*------------------------------------*/
$island-pad-large: 7.5;
$island-pad: 5.5;
$island-pad-small: 3.5;

@mixin island--large--top { @include px-and-rem(padding-top, $island-pad-large);}
@mixin island--large--bottom { @include px-and-rem(padding-bottom, $island-pad-large);}

@mixin island--large {
  @include island--large--top;
  @include island--large--bottom;
}

@mixin island--top { @include px-and-rem(padding-top, $island-pad);}
@mixin island--bottom { @include px-and-rem(padding-bottom, $island-pad);}

@mixin island {
  @include island--top;
  @include island--bottom;
}

@mixin island--large--top { @include px-and-rem(padding-top, $island-pad-large);}
@mixin island--large--bottom { @include px-and-rem(padding-bottom, $island-pad-large);}

@mixin island--large {
  @include island--large--top;
  @include island--large--bottom;
}

@mixin island--small--top { @include px-and-rem(padding-top, $island-pad-small);}
@mixin island--small--bottom { @include px-and-rem(padding-bottom, $island-pad-small);}

@mixin island--small {
  @include island--small--top;
  @include island--small--bottom;
}
