/*------------------------------------*\
    $MARGIN AND PADDING
\*------------------------------------*/
/**
 * these mixins shouldn't need to be used directly except for in the placeholders
 * defined in _layouts.scss
 *
 * prefer extending those placeholders from your selectors over including these mixins
 *
 * this will reduce duplication of the same properties over your stylesheets, while
 * allowing you to reuse consistent spacing across your stylesheets
 *
 * situations on when to rather use an include is if you need to override margin or
 * padding in a media query when the placeholder has been extended. Due to source
 * order, you will not always be able to override the placeholders.
 * Including the relevant mixin will then allow you to override the properties in
 * your media query.
 */
$mp-largest: 5.5;
$mp-larger: 4.25;
$mp-large: 2;
$mp-small: .5;
$mp-smaller: 1;
$mp-smallest: 1.2;




/*------------------------------------*\
    $MARGIN
\*------------------------------------*/
@mixin push--largest          { @include px-and-rem(margin,        $base-spacing-unit + $mp-largest);}
@mixin push--largest--top     { @include px-and-rem(margin-top,    $base-spacing-unit + $mp-largest);}
@mixin push--largest--right   { @include px-and-rem(margin-right,  $base-spacing-unit + $mp-largest);}
@mixin push--largest--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit + $mp-largest);}
@mixin push--largest--left    { @include px-and-rem(margin-left,   $base-spacing-unit + $mp-largest);}
@mixin push--largest--ends    { @include px-and-rem(margin-top,    $base-spacing-unit + $mp-largest); @include px-and-rem(margin-bottom, $base-spacing-unit + $mp-largest);}
@mixin push--largest--sides   { @include px-and-rem(margin-right,  $base-spacing-unit + $mp-largest); @include px-and-rem(margin-left, $base-spacing-unit + $mp-largest);}

@mixin push--larger          { @include px-and-rem(margin,        $base-spacing-unit + $mp-larger);}
@mixin push--larger--top     { @include px-and-rem(margin-top,    $base-spacing-unit + $mp-larger);}
@mixin push--larger--right   { @include px-and-rem(margin-right,  $base-spacing-unit + $mp-larger);}
@mixin push--larger--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit + $mp-larger);}
@mixin push--larger--left    { @include px-and-rem(margin-left,   $base-spacing-unit + $mp-larger);}
@mixin push--larger--ends    { @include px-and-rem(margin-top,    $base-spacing-unit + $mp-larger); @include px-and-rem(margin-bottom, $base-spacing-unit + $mp-larger);}
@mixin push--larger--sides   { @include px-and-rem(margin-right,  $base-spacing-unit + $mp-larger); @include px-and-rem(margin-left, $base-spacing-unit + $mp-larger);}

@mixin push--large          { @include px-and-rem(margin,        $base-spacing-unit + $mp-large);}
@mixin push--large--top     { @include px-and-rem(margin-top,    $base-spacing-unit + $mp-large);}
@mixin push--large--right   { @include px-and-rem(margin-right,  $base-spacing-unit + $mp-large);}
@mixin push--large--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit + $mp-large);}
@mixin push--large--left    { @include px-and-rem(margin-left,   $base-spacing-unit + $mp-large);}
@mixin push--large--ends    { @include px-and-rem(margin-top,    $base-spacing-unit + $mp-large); @include px-and-rem(margin-bottom, $base-spacing-unit + $mp-large);}
@mixin push--large--sides   { @include px-and-rem(margin-right,  $base-spacing-unit + $mp-large); @include px-and-rem(margin-left, $base-spacing-unit + $mp-large);}

@mixin push           { @include px-and-rem(margin,        $base-spacing-unit);}
@mixin push--top      { @include px-and-rem(margin-top,    $base-spacing-unit);}
@mixin push--right    { @include px-and-rem(margin-right,  $base-spacing-unit);}
@mixin push--bottom   { @include px-and-rem(margin-bottom, $base-spacing-unit);}
@mixin push--left     { @include px-and-rem(margin-left,   $base-spacing-unit);}
@mixin push--ends     { @include px-and-rem(margin-top,    $base-spacing-unit); @include px-and-rem(margin-bottom, $base-spacing-unit);}
@mixin push--sides    { @include px-and-rem(margin-right,  $base-spacing-unit); @include px-and-rem(margin-left,  $base-spacing-unit);}

@mixin push--small          { @include px-and-rem(margin,        $base-spacing-unit - $mp-small);}
@mixin push--small--top     { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-small);}
@mixin push--small--right   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-small);}
@mixin push--small--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-small);}
@mixin push--small--left    { @include px-and-rem(margin-left,   $base-spacing-unit - $mp-small);}
@mixin push--small--ends    { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-small); @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-small);}
@mixin push--small--sides   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-small); @include px-and-rem(margin-left, $base-spacing-unit - $mp-small);}

@mixin push--smaller          { @include px-and-rem(margin,        $base-spacing-unit - $mp-smaller);}
@mixin push--smaller--top     { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-smaller);}
@mixin push--smaller--right   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-smaller);}
@mixin push--smaller--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-smaller);}
@mixin push--smaller--left    { @include px-and-rem(margin-left,   $base-spacing-unit - $mp-smaller);}
@mixin push--smaller--ends    { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-smaller); @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-smaller);}
@mixin push--smaller--sides   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-smaller); @include px-and-rem(margin-left, $base-spacing-unit - $mp-smaller);}

@mixin push--smallest          { @include px-and-rem(margin,        $base-spacing-unit - $mp-smallest);}
@mixin push--smallest--top     { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-smallest);}
@mixin push--smallest--right   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-smallest);}
@mixin push--smallest--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-smallest);}
@mixin push--smallest--left    { @include px-and-rem(margin-left,   $base-spacing-unit - $mp-smallest);}
@mixin push--smallest--ends    { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-smallest); @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-smallest);}
@mixin push--smallest--sides   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-smallest); @include px-and-rem(margin-left, $base-spacing-unit - $mp-smallest);}

@mixin flush          { margin:       0;}
@mixin flush--top     { margin-top:   0;}
@mixin flush--right   { margin-right: 0;}
@mixin flush--bottom  { margin-bottom:0;}
@mixin flush--left    { margin-left:  0;}
@mixin flush--ends    { margin-top:   0; margin-bottom:0;}
@mixin flush--sides   { margin-right: 0; margin-left:  0;}






/*------------------------------------*\
    $PADDING
\*------------------------------------*/
@mixin soft--largest           { @include px-and-rem(padding,        $base-spacing-unit + $mp-largest);}
@mixin soft--largest--top      { @include px-and-rem(padding-top,    $base-spacing-unit + $mp-largest);}
@mixin soft--largest--right    { @include px-and-rem(padding-right,  $base-spacing-unit + $mp-largest);}
@mixin soft--largest--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit + $mp-largest);}
@mixin soft--largest--left     { @include px-and-rem(padding-left,   $base-spacing-unit + $mp-largest);}
@mixin soft--largest--ends     { @include px-and-rem(padding-top,    $base-spacing-unit + $mp-largest); @include px-and-rem(padding-bottom, $base-spacing-unit + $mp-largest);}
@mixin soft--largest--sides    { @include px-and-rem(padding-right,  $base-spacing-unit + $mp-largest); @include px-and-rem(padding-left,   $base-spacing-unit + $mp-largest);}

@mixin soft--larger           { @include px-and-rem(padding,        $base-spacing-unit + $mp-larger);}
@mixin soft--larger--top      { @include px-and-rem(padding-top,    $base-spacing-unit + $mp-larger);}
@mixin soft--larger--right    { @include px-and-rem(padding-right,  $base-spacing-unit + $mp-larger);}
@mixin soft--larger--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit + $mp-larger);}
@mixin soft--larger--left     { @include px-and-rem(padding-left,   $base-spacing-unit + $mp-larger);}
@mixin soft--larger--ends     { @include px-and-rem(padding-top,    $base-spacing-unit + $mp-larger); @include px-and-rem(padding-bottom, $base-spacing-unit + $mp-larger);}
@mixin soft--larger--sides    { @include px-and-rem(padding-right,  $base-spacing-unit + $mp-larger); @include px-and-rem(padding-left,   $base-spacing-unit + $mp-larger);}

@mixin soft--large           { @include px-and-rem(padding,        $base-spacing-unit + $mp-large);}
@mixin soft--large--top      { @include px-and-rem(padding-top,    $base-spacing-unit + $mp-large);}
@mixin soft--large--right    { @include px-and-rem(padding-right,  $base-spacing-unit + $mp-large);}
@mixin soft--large--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit + $mp-large);}
@mixin soft--large--left     { @include px-and-rem(padding-left,   $base-spacing-unit + $mp-large);}
@mixin soft--large--ends     { @include px-and-rem(padding-top,    $base-spacing-unit + $mp-large); @include px-and-rem(padding-bottom, $base-spacing-unit + $mp-large);}
@mixin soft--large--sides    { @include px-and-rem(padding-right,  $base-spacing-unit + $mp-large); @include px-and-rem(padding-left,   $base-spacing-unit + $mp-large);}

@mixin soft           { @include px-and-rem(padding,        $base-spacing-unit);}
@mixin soft--top      { @include px-and-rem(padding-top,    $base-spacing-unit);}
@mixin soft--right    { @include px-and-rem(padding-right,  $base-spacing-unit);}
@mixin soft--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit);}
@mixin soft--left     { @include px-and-rem(padding-left,   $base-spacing-unit);}
@mixin soft--ends     { @include px-and-rem(padding-top,    $base-spacing-unit); @include px-and-rem(padding-bottom, $base-spacing-unit);}
@mixin soft--sides    { @include px-and-rem(padding-right,  $base-spacing-unit); @include px-and-rem(padding-left,   $base-spacing-unit);}

@mixin soft--small           { @include px-and-rem(padding,        $base-spacing-unit - $mp-small);}
@mixin soft--small--top      { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-small);}
@mixin soft--small--right    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-small);}
@mixin soft--small--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-small);}
@mixin soft--small--left     { @include px-and-rem(padding-left,   $base-spacing-unit - $mp-small);}
@mixin soft--small--ends     { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-small); @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-small);}
@mixin soft--small--sides    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-small); @include px-and-rem(padding-left,   $base-spacing-unit - $mp-small);}

@mixin soft--smaller           { @include px-and-rem(padding,        $base-spacing-unit - $mp-smaller);}
@mixin soft--smaller--top      { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-smaller);}
@mixin soft--smaller--right    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-smaller);}
@mixin soft--smaller--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-smaller);}
@mixin soft--smaller--left     { @include px-and-rem(padding-left,   $base-spacing-unit - $mp-smaller);}
@mixin soft--smaller--ends     { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-smaller); @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-smaller);}
@mixin soft--smaller--sides    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-smaller); @include px-and-rem(padding-left,   $base-spacing-unit - $mp-smaller);}

@mixin soft--smallest           { @include px-and-rem(padding,        $base-spacing-unit - $mp-smallest);}
@mixin soft--smallest--top      { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-smallest);}
@mixin soft--smallest--right    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-smallest);}
@mixin soft--smallest--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-smallest);}
@mixin soft--smallest--left     { @include px-and-rem(padding-left,   $base-spacing-unit - $mp-smallest);}
@mixin soft--smallest--ends     { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-smallest); @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-smallest);}
@mixin soft--smallest--sides    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-smallest); @include px-and-rem(padding-left,   $base-spacing-unit - $mp-smallest);}

@mixin hard           { padding:       0;}
@mixin hard--top      { padding-top:   0;}
@mixin hard--right    { padding-right: 0;}
@mixin hard--bottom   { padding-bottom:0;}
@mixin hard--left     { padding-left:  0;}
@mixin hard--ends     { padding-top:   0; padding-bottom:0;}
@mixin hard--sides    { padding-right: 0; padding-left:  0;}
