%bgg--default {
  background-color: $primary-color;
  background-image: get-gradient(default);
}

%bgg--fundingRequirements {
  background-color: $primary-color;
  background-image: get-gradient(fundingRequirements);
}

%bgg--trade {
  background-color: $primary-color;
  background-image: get-gradient(trade);
}

%bgg--funder {
  background-color: $primary-color;
  background-image: get-gradient(funder);
}
