.funder-list {
  & > label {
    display: inline-block;
    @include push--smaller--bottom;
  }
}

  %funder-list-item-column {
    font-size: 0.9rem;
    color: $medium-gray;
  }

  .funder-list-item__product {
    @extend %funder-list-item-column;

  }

  .funder-list-item__rating {
    @extend %funder-list-item-column;

  }
  .funder-list-item__rating-value {
    color: map-get($foundation-palette, tertiary);
  }
