head
	meta(charset="utf-8")
	title FundingHub

	meta(name="format-detection" content="telephone=no")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

	link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
	// build:css assets/css/style.min.css
	link(rel="stylesheet" href=basePath+"assets/css/style.css")
	// endbuild

	include ./_analytics.pug
